:root {
  --bg-clr: #212121;
  --bx-1: #fed500;
  --bx-2: #005bba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: var(--bg-clr);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  height: 100px;
  width: 100px;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: var(--bx-1);
  animation: animate1 2s linear infinite forwards;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: var(--bx-2);
  animation: animate2 2s linear infinite forwards;
}

@keyframes animate1 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes animate2 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
