* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  position: relative;
  height: 60px;
  width: 250px;
  border-radius: 1rem;
}

.input-container #input {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid white;
  outline: none;
  background: transparent;
  color: white;
  padding: 1rem 1.2rem;
  font-size: 1.225rem;
  transition: all 0.4s ease-in-out;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1.225rem;
  color: white;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

#input:focus + label {
  top: -20%;
  transform: scale(0.85);
  color: #2196f3;
  background-color: #212121;
  padding: 0 5px;
}

#input:focus {
  border: 1px solid #2196f3;
}
