:root {
  --bg-clr: #e8e8e8;
  --btn-bg: #fff;
  --hover-bg: #23c483;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-clr);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-----------------Approach----------------- 1
.container {
  position: relative;
  height: 60px;
  width: 180px;
  background-color: teal;
  border-radius: 2rem;
}

.btn {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 1.335rem;
  padding: 1rem 2.5rem;
  font-weight: 450;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--hover-bg);
  outline: none;
  border: none;
  border-radius: 2rem;
  color: var(--btn-bg);
  box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.container:active > .btn {
  top: 50%;
}*/
/* ------------Approach 2-------------*/
.btn {
  position: relative;
  outline: none;
  border: none;
  border-radius: 2rem;
  width: 180px;
  height: 60px;
  background-color: teal;
}

.btn::before {
  content: "Button";
  position: absolute;
  top: -10%;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--btn-bg);
  border-radius: 2rem;
  background-color: var(--hover-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:active::before {
  top: 0%;
}
